* {
	border: 1px dashed blue;
}

div {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	float:left;
	clear: both;

	
}

#uno {
	height: 100px;
	width: 45%;
	background-color: #FF0000;
}

#dos {
	height: 100px;
	width: 45%;
	background-color: #0000FF;
}

#tres {
	height: 100px;
	width: 45%;
	background-color: #FFD700;
}

/*Lo hice desde cero porque no pude con el codigo anterior completo y me fue mas sencillo hacer este*/